.header {
  padding: 0;
  border-radius: 0;
}
.header .header-logo {
  border: none;
  float: left;
  text-align: start;
}
.header .header-logo img {
  width: 40%;
}
.header .ant-menu {
  text-align: right;
  /*border-bottom-left-radius: .5em;*/
  /*border-bottom-right-radius: .5em;*/
}
.header .ant-menu-item {
  padding: 10px 20px;
}
.footer {
  text-align: center;
  background-color: #333;
  color: #fff;
}